.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    gap: 10px;
    flex: 1;
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.listItem > label {
    font-size: 12px;
}

.listItem > input {
    height: 30px;
    border: none;
    padding: 5px;
}

.listItem > span {
    height: 30px;
    padding: 5px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listResult {
    flex: 3;
}
