.hotelContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.bookNow {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    border-radius: 5px;
    background-color: var(--light-blue);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    width: max-content;
    padding: 5px 10px;
    cursor: pointer;
}

.hotelTitle {
    font-size: 24px;
}

.hotelAddress {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hotelAddressIcon {
    color: var(--blue);
}

.hotelDistance {
    font-size: 14px;
    color: var(--blue);
    font-weight: bold;
}

.hotelPriceHighlight {
    color: var(--green);
    font-weight: 500;
}

.hotelImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelImgWrapper {
    width: 33%;
}

.hotelImg {
    width: 100%;
    object-fit: cover;
}
