.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem {
    flex: 1;
    gap: 10px;
}

.fpImg {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.fpItem > h1 {
    font-size: 16px;
}

.fpItem > h2 {
    font-size: 14px;
    font-weight: normal;
}
