:root {
    /* Color */
    --white: #fff;
    --black: #000;
    --light-blue: #0071c2;
    --blue: #003580;
    --dark-blue: #00224f;
    --yellow: #febb02;
    --gray: #555;
    --light-gray: lightgray;
}
